.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    'header header'
    'aside game ';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

.header {
    grid-area: header;
    background: var(--red);
    display: grid;
    place-items: center;
}

.aside {
    grid-area: aside;
}

.game {
    width: 700px;
    height: 700px;
    grid-area: game;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
}

.game div {
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    place-items: center;
}