@font-face {
  font-family: PokemonHollow;
  src: url(./Pokemon.woff);
}

:root {
  --grey: #71787D;
  --lightRed: #EF4036;
  --darkRed: #D01F15;
  --lightBlue: #265D8F;
  --darkBlue: #2E4E6D;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rock Salt", cursive;
}



