@font-face {
  font-family: PokemonHollow;
  src: url(./Pokemon.woff);
}

:root {
  --grey: #5E6973;
  --red: #EF4036;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rock Salt", cursive;
}



